<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>STREAMSERVICE</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <div class="container">
    <h1>STREAMSERVICE</h1>
    <p>Welcome to the ultimate video streaming platform. Signup or Login to get started!</p>
    <a href="/signup" class="btn">Signup</a>
    <a href="/login" class="btn">Login</a>
  </div>
</body>
</html>
