<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Explore Videos | Strmly</title>
  <link rel="stylesheet" href="/css/videos.css">
</head>
<body>
  <div class="container">
    <h2>Explore Videos</h2>
    <div id="video-list"></div>

    <div class="pagination">
      <button id="prev" disabled>Previous</button>
      <span id="page-info">Page 1</span>
      <button id="next">Next</button>
    </div>
  </div>
  <script src="/js/videos.js" defer></script>
</body>
</html>
